<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="inteliveclaro" translate="label" sortOrder="10">
            <label>Claro BI</label>
        </tab>
        <section id="claroconfig" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Claro Config</label>
            <tab>inteliveclaro</tab>
            <resource>Intelive_Claro::claro_config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment><![CDATA[The bellow credentials should have been given to you during the registration procedure. If you don't have them, <a href='https://app.clarobi.com/login' target='_blank'><b>log in</b></a> into your account and retrieve them from the "Settings" section.<br>
                        If you don't have an account yet, you must <a href='https://app.clarobi.com/register' target='_blank'><b>create one</b></a> before using this module.<br><BR>
                        For any questions or help please visit us at <a href='https://www.clarobi.com/contact-us' target='_blank'>ClaroBi.com</a>.]]></comment>
                <field id="status" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Intelive\Claro\Model\Config\Status\Active</source_model>
                    <comment>Activate/deactivate scheduled synchronization</comment>
                </field>
                <field id="license_serial_number" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Secret</label>
                </field>
                <field id="ws_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remote Server Endpoint</label>
                    <comment>Address pointing to remote web service</comment>
                </field>
            </group>
            <group id="advanced" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced</label>
                <field id="use_shipping" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Complete orders</label>
                    <source_model>Intelive\Claro\Model\Config\Status\UseShipping</source_model>
                    <comment>Contact UnityReports.com before changing this setting</comment>
                </field>
                <field id="debug_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <source_model>Intelive\Claro\Model\Config\Status\Active</source_model>
                    <comment>Activate debug logging</comment>
                </field>
                <field id="install_ip" translate="label" type="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Installation IP</label>
                    <frontend_model>Intelive\Claro\Block\Adminhtml\InstallationIp</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>