<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="inteliveclaro" translate="label" sortOrder="10">
            <label>Claro BI</label>
        </tab>
        <section id="claroconfig" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Claro Config</label>
            <tab>inteliveclaro</tab>
            <resource>Intelive_Claro::claro_config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment><![CDATA[The bellow credentials should have been given to you during the registration procedure. If you don't have them, <a href='https://app.unityreports.com' target='_blank'><b>log in</b></a> into your account and retrieve them from the "Profiles" section.<br>
                        If you don't have an account yet, you must <a href='https://app.unityreports.com/account/create' target='_blank'><b>create one</b></a> before using this module.<br><BR>
                        If you are experiencing problems with this extension please run the self diagnosing test by clicking the button below.<br>
                        For any questions or help please visit us at <a href='http://unityreports.com/contacts' target='_blank'>Unityreports.com</a>.]]></comment>
                <field id="status" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Intelive\Claro\Model\Config\Status\Active</source_model>
                    <comment>Activate/deactivate scheduled synchronization</comment>
                </field>
                <field id="license_serial_number" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Secret</label>
                </field>
                <field id="ws_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remote Server Endpoint</label>
                    <comment>Address pointing to remote web service</comment>
                </field>
                <!--<field id="test" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">-->
                <!--<comment>Remember to save configuration before testing!</comment>-->
                <!--<source_model>Intelivemetrics_Unityreports_Block_Adminhtml_Button_Test</source_model>-->
                <!--</field>-->
            </group>
            <group id="status" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Status</label>
                <comment><![CDATA[<span style='color:red;'><b>IMPORTANT NOTICE:</b> Historical data sync process always happens from the oldest items to the newest</span><br><br>]]></comment>
                <field id="prod_sync_status" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product last synced ID</label>
                    <frontend_model>Intelive\Claro\Block\Adminhtml\ProductLastId</frontend_model>
                </field>
                <field id="cust_sync_status" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer sync status</label>
                    <frontend_model>Intelive\Claro\Block\Adminhtml\CustomerLastId</frontend_model>
                </field>
                <field id="ord_sync_status" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order sync status</label>
                    <frontend_model>Intelive\Claro\Block\Adminhtml\OrderLastId</frontend_model>
                </field>
                <field id="inv_sync_status" translate="label" type="label" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Invoice sync status</label>
                    <frontend_model>Intelive\Claro\Block\Adminhtml\InvoiceLastId</frontend_model>
                </field>
            </group>
            <group id="advanced" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced</label>
                <field id="use_shipping" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Complete orders</label>
                    <source_model>Intelive\Claro\Model\Config\Status\UseShipping</source_model>
                    <comment>Contact UnityReports.com before changing this setting</comment>
                </field>
                <field id="debug_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <source_model>Intelive\Claro\Model\Config\Status\Active</source_model>
                    <comment>Activate debug logging</comment>
                </field>
                <field id="install_ip" translate="label" type="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Installation IP</label>
                    <frontend_model>Intelive\Claro\Block\Adminhtml\InstallationIp</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>